* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
#projectWrapper {
    border:solid orange;
    background-color: rgb(246, 205, 212);
    height: 90vh;
}
.projPara {
    height: 90vh;
    position: relative;
    padding-top: 60px;
}