* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
#projectWrapper {
    border:solid orange;
}
.projPara {
    height: 80vh;
    position: relative;
    padding-top: 60px;
}
/* text */
.github {
    width: 18px;
}