#selectCard h1 {
    border-radius: 18px;
    font-size: clamp(3rem, 12vw, 12vw);
    /* padding-left: 30px; */
    /* text-align: left; */
    color: #ffecdd;
    background-color: #f93700;
    margin: 40px 30px;
}
/* #selectCard {
    border: 5px solid slateblue;
    background-image: url('../../images/portfolio.png');
    background-size: contain;
    background-repeat: no-repeat;
} */
#divTest {
    border: solid red;
    padding-top: 50px;
    display: flex;
    height: 500px;
    /* justify-content: flex-end; */
}
.divOne {
    border: solid green;
    background-color: green;
    height: 200px;
    width: 200px;
    position: relative;
}
.divTwo {
    border: solid red;
    background-color: red;
    height: 200px;
    width: 200px;
    /* position: relative; */
    margin-right: 700px;
}
.divThree {
    border: solid hotpink;
    background-color: hotpink;
    height: 200px;
    width: 200px;
    position: relative;
}
.selectPara{
    height: 80vh;
    border: dotted blue;
}
/* ------------------ */
.testyPara {
    height: 90vh;
}
/* --------------------------------------------------- */
/* imgs */
.gucciImg, .spaceImg {
    width: 500px;
}