@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400&family=Shrikhand&display=swap');
/* font-family: 'GFS Didot', serif;
font-family: 'GFS Neohellenic', sans-serif;
font-family: 'Shrikhand', cursive; */

#footerLink {
    border: solid chartreuse;
    height: 200px;
    background-color: #f0ffff;
    padding-top: 20px;
}
.footHeader {
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
}
.mailLink {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.mailLeft {
    /* border: solid yellow; */
    display: flex;
    gap: 5px;
    font-size: 35px;
}
.mailRight{
    /* border: solid yellowgreen; */
    display: flex;
    font-size: 35px;
}
ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
.mailRight a {
    text-decoration: none;
}
.linkLink, .mailRight a:hover {
    color: #4169e1;
}

