#aboutWrapper {
    border: solid orange;
    /* background-color: rgb(202, 240, 180); */
    height: 200px;
    /* font-size: clamp(1.5rem, 2.5vw, 4rem);  */
    display: flex;
    justify-content: center;
}
.aboutForm {
    border: solid purple;
    width: 250px;
}
.aboutLinks {
    border: solid skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
}
.aboutLinks ul {
    border: solid red;
    list-style: none;
}
.aboutLinks a {
    text-decoration: none;
    color: #f5f5f5;
}
.aboutLinks a:hover {
    color: orange;
}