* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: rgb(235, 225, 202); */
  background-image: url('/public/noise.png');
  background-color: #1c1b1b;
  background-position: 50% 50%;
  background-size: 300px;
  background-attachment: fixed;
  /*  */
  color: #f5f5f5;
}

.App {
  text-align: center;
}

/* NAVBAR */
#navBar {
  /* border: solid green; */
  height: 100px;
  display: flex;
  justify-content: flex-end;
  color: #f5f5f5;
}
.navBox {
  border: solid fuchsia;
  width: 100px;
  display: flex;
  align-self: center;
}
.navUl {
  text-align: left;
  list-style: none;
}
.navUl a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
}

/* -------------------------------------------------- */
/* footer */
#footerWrapper {
  border: solid magenta;
  /* background-color: antiquewhite; */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------------------- */
/* about */
#aboutWrapper {
  border: solid blueviolet;
}

/* ------------------------------------------ */
/* home title */
#homeTitle {
  /* border: solid royalblue; */
  height: 550px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: clamp(5rem, 17vw, 17rem); 
}
#homeTitle h1 {
  border: solid blueviolet;
}
#homeTitle p {
  border: solid pink;
  height: 100px;
}
.homePara {
  height: 37vh;
  position: relative;
}

/* ----------------------------------------------------- */
/* TEST */
#testWrap {
  border: solid hotpink;
  height: 90vh;
}
.testPara {
  height: 90vh;
  position: relative;
}
/* --------------------------------------------------------- */
/* text */
#projDescription {
  border: solid teal;
  height: 175px;
  margin-top: 40px;
}
.projDescBox {
  height: 33vh;
  background-color: #f5f5f5;
  color: black;
}