* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: rgb(235, 225, 202); */
  /* background-color: #fbfbfb; */
  background-color: #ffecdd;
  background-image: url('/public/noise.png');
  /* background-color: #1c1b1b; */
  background-position: 50% 50%;
  background-size: 300px;
  background-attachment: fixed;
  /*  */
  /* color: #f5f5f5; */
  color: #f93700
}

.App {
  text-align: center;
}

/* NAVBAR */
#navBar {
  /* border: solid green; */
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px 0 40px;
  cursor: pointer;
  /* color: #f5f5f5; */
}
.navBox {
  border: solid fuchsia;
  width: 100px;
  display: flex;
  align-self: center;
  position: relative;
  margin-top: 70px;
}
.navUl {
  text-align: left;
  list-style: none;
}
.navUl a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
}

/* -------------------------------------------------- */
/* footer */
#footerWrapper {
  border: solid magenta;
  /* background-color: antiquewhite; */
  width: 300px;
  height: 100px;
  display: none;
  position: relative;
  margin-left: 300px;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
#footerWrapper button {
  padding: 0 5px 0 5px;
  border: none;
  background: none;
  color: #f93700;
  font-size: 18px;
  font-style: italic;
  /* text-decoration: underline; */
  font-weight: bolder;
}
#activityX {
  /* border: solid lightblue; */
  height: 60px;
  display: none;
  color: #f93700;
}

/* -------------------------------------------------- */
/* about */
#aboutWrapper {
  border: solid blueviolet;
}

/* ------------------------------------------ */
/* home title */
#homeHeadline {
  border: solid royalblue;
  height: 90vh;
  padding-top: 100px;
  /* display: flex; */
  /* align-items: flex-end; */
  justify-content: center;
  /* font-size: clamp(5rem, 17vw, 17rem);  */
}
.homeWrapTxt {
  border: solid greenyellow;
  width: 900px;
  margin-left: 70px;
  text-align: left;
}
.homeTitle {
  font-size: clamp(8rem, 17vw, 17rem);
}
.homeMe {
  /* position: relative; */
  margin-top: -50px;
  padding-left: 15px;
  font-style: italic;
  font-size: clamp(1.5rem, 7vw, 3rem);
}
.homeSub {
  border: solid pink;
  padding-left: 15px;
}
.homeMe {
  border: solid lightblue;
}
.homePara {
  height: 37vh;
  position: relative;
}
#homeWrapper {
  border:solid orange;
  height: 120px;
  padding-right: 60px;
  text-align: right;
  font-size: clamp(2rem, 6vw, 12rem);
  /* background-color: rgba(184, 175, 175, 0.51); */
}

/* ----------------------------------------------------- */
/* TEST */
#testWrap {
  border: solid hotpink;
  height: 80vh;
}
.testPara {
  height: 90vh;
  position: relative;
}
/* --------------------------------------------------------- */
/* text */
#projDescription {
  border: solid teal;
  height: 175px;
  margin-top: 40px;
}
.projDescBox {
  height: 33vh;
  background-color: #f5f5f5;
  color: black;
}

/* ------------------------ */
/* test drag */
#testDrag {
  border: solid lime;
  background-image: url('https://thumbs.gfycat.com/BoldGiganticErmine-size_restricted.gif');
  background-repeat: no-repeat;
  background-size: 300px 250px;
  background-color: #f93700;
  color: royalblue;
  width: 300px;
  height: 250px;
  position: absolute;
  margin-top: -30px;
  right: 280px;
}
#testDrag > p {
  border: solid hotpink;
  position: absolute;
  top: -20px;
  left: 50px;
}